{% extends 'Dealers/website/order/order.twig' %}
{% block title %}Let's Get Started{% endblock %}
{% block order_page_title %}Let's Get Started{% endblock %}
{% block order_page_top_description %}
<h2 class="text-center">Let’s build your website with Place1SEO</h2>
<p class="text-center">The next few pages will determine your cost for our basic website template. You can add on to the package with custom features after you answer a few basic template questions. Click on the “Save and Continue” button to make your selections.</p>
<h2 class="text-center">Get started by answering the following questions:</h2>
<div class="row mt-5 mb-3 start-buttons">
  <div class="col-12">
    <button type="button" class="btn btn-success btn-lg btn-block save-button" data-action="continue">Sign Up Now</button>
  </div>
</div>
{% endblock %}
{% block order_buttons %}{% endblock %}
{% block order_table %}{% endblock %}
