{% extends 'Dealers/website/order/order.twig' %}
{% block title %}Number of Products{% endblock %}
{% block order_page_title %}Number of Products{% endblock %}
{% block order_page_top_description %}
  <h2 class="text-center">How many products do you want to showcase on your new website.</h2>
  <p>Please select the number of Products you would like to have on your website. The selections will be made from our extensive database of products after the order has been complete. Once you have made your selection, please save and continue.</p>
  <h2 class="text-center">Select the number of products for your website and you will see the costs associated with your selections in the table to the right.</h2>
{% endblock %}
{% set costs_type = 'products' %}
