{% extends 'Dealers/website/order/order.twig' %}
{% block title %}Should Your Products have Pricing{% endblock %}
{% block order_page_title %}Should Your Products have Pricing{% endblock %}
{% block order_page_top_description %}
  <h2 class="text-center">Do you want to configure product pricing to be shown on your new website.</h2>
  <p>Now that you have elected not to have a Shopping Cart on your new website, please select if you would like to have pricing displayed on your website. Once you have made your selection, please save and continue.</p>
  <h2 class="text-center">Select “Yes” or “No” to let us know if you want to add pricing to the product pages, and you will see the costs associated with your selection in the table to the right.</h2>
{% endblock %}
{% set costs_type = 'pricing' %}
