{% extends 'Dealers/website/order/order.twig' %}
{% block title %}Do You Want a Shopping Cart{% endblock %}
{% block order_page_title %}Do You Want a Shopping Cart{% endblock %}
{% block order_page_top_description %}
  <h2 class="text-center">Do you want an ecommerce shopping cart on your new website.</h2>
  <p>Please select if you would like to have a Shopping Cart function on your website. This will give users the ability to purchase directly through the website. This option includes pricing on your website. Once you have made your selection, please save and continue.</p>
  <h2 class="text-center">Select “Yes” or “No” to let us know if you want a full ecommerce Shopping Cart on your website, and you will see the costs associated with your selection in the table to the right.</h2>
{% endblock %}
{% set costs_type = 'ecommerce' %}
