{% extends 'Dealers/website/order/order.twig' %}
{% block title %}Do You Want Spec Sheets{% endblock %}
{% block order_page_title %}Do You Want Spec Sheets{% endblock %}
{% block order_page_top_description %}
  <h2 class="text-center">Do you want Spec Sheets on your new website.</h2>
  <p>Please select if you would like to have links to Spec Sheets on the product pages if available from the vendor. Once you have made your selection, please save and continue.</p>
  <h2 class="text-center">Select "Yes" or "No" to let us know if you want Spec Sheets to show on your product pages, and you will see the costs associated with your selection in the table to the right.</h2>
{% endblock %}
{% set costs_type = 'specsheets' %}
