{% extends 'Dealers/website/index.twig' %}
{% block title %}Welcome{% endblock %}
{% block content %}
  <div class="row mt-3 mb-3">
    <div class="col-12">
      <h1 class="text-center">Thank you for your website signup.</h1>
      <p>The entire Place1SEO team is looking forward to working with you and your company to develop a website you can be proud of.</p>
      <p>We will begin to communicate with you regarding design, product selection and many other important items, to insure a smooth transition/launch/process. To facilitate the process, I would like to introduce</p>
      <p class="h2">Your team:</p>
      <ul style="list-style-type: none">
        <li>Kari Whittemore, MBA - President</li>
        <li>Nicholas Monette - Project Management and SEM</li>
        <li>Martin Vickery - Graphic design, Social Media and all things visual</li>
        <li>Heather Hubbard - Office Manager</li>
        <li>Devan Cottone - IT, DNS, Email</li>
      </ul>
      <p class="h2">What to expect:</p>
      <ol>
        <li>An annual contract will be sent to you, which needs to be reviewed and signed prior to going live.</li>
        <li>You will receive an invoice for the startup fee which should be paid by the stated due date. You can reschedule your start date if you need more time to review the contract and costs.</li>
        <li>You will receive an estimate which will explain your monthly fees and the start dates.</li>
      </ol>
      <p class="h2">Your next step:</p>
      <ul>
        <li>Make your <a href="/products">inventory selection</a>.</li>
        <li>Add needed <a href="/company-profile">company information</a>.</li>
      </ul>
      <p><a href="https://place1seo.com">You can use this link to schedule an online meeting with Nic</a>, if you have questions or want a walk-through or just reply to this email with any questions! We’re always here to help.</p>
      <p class="font-italic">Sincerely,</p>
      <p class="font-italic">Your friends at Place1SEO</p>
      <a class="btn btn-lg btn-block btn-primary" href="/website/order/update/website-package">Update Order</a>
    </div>
  </div>
{% endblock %}