<ul class="list-group">
  {% for item in menu %}
    <li class="list-group-item {% if (route == item.link) %}active{% endif %}">
      <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>